<div style="display: flex;justify-content: center;flex-direction: column;">
  <div style="display: flex;gap: 1em; justify-content: center; flex-wrap: wrap;" pinScroll>
    <ng-container *ngFor="let datum of data | slice:0:intial;let last = last;let i =index">
      <app-image-card [image]="datum.image" [showButton]="last && i !==data.length-1"
        (loadImage)="loadImages($event)"></app-image-card>
    </ng-container>
  </div>
  <div #focus>
    <button style="margin: 20px; width: 300px;" color="accent" mat-raised-button (click)="resetView()"
      [disabled]="intial === 5">Reset View</button>
  </div>
</div>
