.loader {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: rgb(239, 241, 246) no-repeat;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 10px;
  will-change: transform;
}

.loader::before {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .6), rgba(255, 255, 255, 0));
  animation: progress 2s ease-in-out infinite;
  background-size: 200px 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  content: "";
}

@keyframes progress {
  0% {
    transform: translate3d(-200px, 0, 0);
  }

  100% {
    transform: translate3d(calc(200px + 100vw), 0, 0);
  }
}
