.mat-card {
  border: 5px solid white !important;
  border-radius: 10px !important;
  cursor: pointer;

  .image-container {
    border-radius: inherit;
    width: 20vw;
    height: 40vh;
    position: relative;
  }

  .button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;

    span {
      font-size: 20em;
      opacity: 0.3;
    }

    span:hover {
      opacity: 0.7;
    }
  }

  .button:hover {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }

  .button:disabled {
    pointer-events: none;
  }
}

.mat-card :hover {
  transform: scale(1.01);
}
